body {
margin:0px 100px;
}
.sbullet{
color:red;
}
.sub-sbullet{
color:green;
margin-left:25px;
}
.list{
color:teal;
font-size:14px;
line-height: 1.4;
}
.sub-list{
color:teal;
font-size:14px;
}
.heading-1{
color:maroon;
font-size:21px;
font-weight:bold;
}
.heading-2{
color:blue;
font-size:18px;
font-weight:bold;
}
.heading-3{
color:#DC143C;
font-size:18px;
font-weight:bold;
}
table, td {
border-width:1px;
border-style:solid;
border-collapse:collapse;
padding: 5px;
}
.mmm{
font-size:24px;
font-weight:bold;
color:red;
}
.trading-rule-heading{
font-size:20px;
font-weight:bold;
color:maroon;
}

#container{
width:100%;
}

.slno{
padding-top:10px;
color:blue;
font-weight:bold;
}

#trading-rules-1{
width:98%;
float:left;
margin-left:5px;
text-align:justify;
padding:4px;
}

#trading-rules-2{
background-color:#f2d9e6;
width:98%;
float:left;
margin-left:5px;
text-align:justify;
padding:4px;
}
#fake-div{
width:100%;
height:2%;
}
.list-heading-1{
font-size:24px;
color:red;
font-weight:bold;
}
table td {
padding:5px;
line-height:1.4;
}
.point{
color:teal;
font-weight:bold;
margin-left:20px;
line-height: 1.6;
}
.checkmark{
color:red;
font-weight:bold;
}
.signal-type{
color:#8B008B;
font-weight:bold;
margin-left:20px;
line-height: 1.6;
}
.signaltype-mark{
color:red;
font-weight:bold;
}
.row-heading{
font-size:18px;
font-weight:bold;
}
.blank-row{
height:2px;
padding:0px;
}
.table-format{
text-align:center;
}
.criteria{
font-weight:bold;
color:green;	
}